body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 220px;
}

button {
  padding: 10px 20px;
  background-color: #22c55e;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}
